{% if request.resolver_match.url_name == 'ViewCourse' %}

<nav class="navbar navbar-expand-lg bg-dark navbar-light  sticky-top p-0 w-100%">
    <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary fs-2"><i class="fa fa-book me-3"></i> PetitsCurieux<span class="fs-5">Watch</span> <span style="font-weight: 100;"> |</span> <span class="fs-4" >{{cours.titre}}</span> </h2>
    </a>
    
    <div style="width: 100%;padding-right: 20px;">
                                <img class="img-profile rounded-circle float-end" width="40"
                                    src="{{ett.photo.url}}">
    <a href="{{request.META.HTTP_REFERER}}" class="nav-item nav-link float-end" >Retour</a>
</div>
   {% else %}
   <head>
    <script src="https://kit.fontawesome.com/16a9704cc9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        #head1:hover {
            color:white;
        } 
    </style>
</head>
<nav class="navbar navbar-expand-lg  navbar-light  sticky-top p-0" style="background-color: #F3B9BB;">
    <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0"><i class="fa-solid fa-hands-holding-child"></i> PetitsCurieux </h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'home' %}" class="nav-item nav-link">Acceuil</a>
            <a href="{% url 'CoursesList' %}" class="nav-item nav-link">Nos Cours</a>
            
          
           {% if "prof" in user.groups.all.0.name and user.is_authenticated %}
           <a href="{% url 'dashboardprof' %}" class="nav-item nav-link">Tableau de bord</a>
           {% else %}
           <a href="{% url 'getstarted' %}" class="nav-item nav-link">Formateur</a>
           {% endif %}
           
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Hi {{user}} !<i class="fa fa-arrow-right ms-3"></i></a>
        
    {% else %}
        <a  href="{% url 'etudiant_register' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block " id="head1" style="background-color:#F3B9BB;color:brown;border: none;">Inscrivez-vous!<i class="fa fa-arrow-right ms-3"></i><br></a>

    {% endif %}
    </div>
{% endif %}
   
    
</nav>
{% block nav %}


{% endblock nav %}

{% include 'base/footer.html' %}



